<ion-content [fullscreen]="true">

  <ion-card-header class="ion-text-center">
    <ion-card-title><h2>Agregar jefe zonal</h2></ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <ion-icon name="man" size="large"></ion-icon>
  </ion-card-content>

  <ion-card>
    <ion-input [(ngModel)]="nombre" label="Nombre" label-placement="floating" fill="solid" placeholder="Nombre"></ion-input>
    <ion-input [(ngModel)]="apellido" label="Apellido" label-placement="floating" fill="solid" placeholder="Apellido"></ion-input>
    <ion-input [(ngModel)]="correo" label="Correo" label-placement="floating" fill="solid" type="email" placeholder="Correo electrónico"></ion-input>
    <ion-input [(ngModel)]="telefono" label="Teléfono" label-placement="floating" fill="solid" type="tel" placeholder="Número de teléfono"></ion-input>
    <ion-input [(ngModel)]="fecha" label="Fecha actual" label-placement="floating" fill="solid" type="date"></ion-input>
    
    <!--FOTO-->
     <ion-card *ngIf="photo">
      <ion-img [src]=""></ion-img>
    </ion-card>
  
    <ion-card *ngIf="location">
      <ion-card-header>
        <ion-card-title>Tomar fotografía y obtener ubicación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Latitud:{{location.latitude}} </p>
        <p>Longitud: {{location.longitude}}</p>
        <p>Dirección: {{address}}</p>
      </ion-card-content>
    </ion-card>
  
    <!-- Botón para capturar foto y obtener ubicación -->
    <ion-button expand="block" (click)="capturePhoto()">Tomar fotografía</ion-button><br />
    <ion-button (click)="guardar()" expand="block">Guardar</ion-button>
  </ion-card>
  

</ion-content>
