<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        
        <!--Card envolviendo formulario-->
        <ion-card class="ion-margin-top transparent-card" >

          <ion-card-header class="ion-text-center">
              <ion-card-title><b>Agregar Jefe Zonal</b></ion-card-title>
              <ion-card-content class="ion-text-center">
                <ion-icon name="man" size="large"></ion-icon>
              </ion-card-content>
          </ion-card-header>
  
          <ion-card-content>
            <!--formControlName Conecta cada campo del formulario con el control de formulario correspondiente.-->
            <form [formGroup]="form"> <!--Conecta el formulario con el grupo de formularios definido en el componente.-->

              <!-- Nombre -->
              <ion-input formControlName="nombre" label="Nombre" label-placement="floating" type="text" fill="outline" placeholder="Nombre" (input)="inputNombre()"></ion-input>
              <ion-text color="danger" *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched">
                <small *ngIf="form.get('nombre')?.hasError('required')"><b>Nombre obligatorio</b></small>    
              </ion-text>
              <br>

              <!-- Apellido -->
              <ion-input formControlName="apellido" label="Apellido" label-placement="floating" type="text" fill="outline" placeholder="Apellido" (input)="inputApellido()"></ion-input>
              <ion-text color="danger" *ngIf="form.get('apellido')?.invalid && form.get('apellido')?.touched">
                <small *ngIf="form.get('apellido')?.hasError('required')"><b>Apellido obligatorio</b></small>
              </ion-text>
              <br>

              <!-- Correo Electrónico -->
              <ion-input formControlName="correo" label="Correo Electrónico" label-placement="floating" type="email" fill="outline" placeholder="Correo Electrónico" (input)="inputCorreo()"></ion-input>
              <ion-text color="danger" *ngIf="form.get('correo')?.invalid && form.get('correo')?.touched">
                <small *ngIf="form.get('correo')?.hasError('required')"><b>Correo electrónico obligatorio</b></small>
                <small *ngIf="form.get('correo')?.hasError('email')"><b>Correo electrónico inválido</b></small>
              </ion-text>
              <br>

              <!-- Teléfono -->
              <ion-input formControlName="telefono" label="Teléfono" label-placement="floating" type="tel" fill="outline" placeholder="Número de teléfono" (input)="inputTelefono()"></ion-input>
              <ion-text color="danger" *ngIf="form.get('telefono')?.invalid && form.get('telefono')?.touched">
                <small *ngIf="form.get('telefono')?.hasError('required')"><b>Teléfono obligatorio</b></small>
                <small *ngIf="form.get('telefono')?.hasError('pattern')"><b>Solo se aceptan números</b></small>
              </ion-text>
              <br>

              <!-- Fecha -->
              <ion-input formControlName="fecha" label="Fecha actual" label-placement="floating" fill="outline" type="date"></ion-input>
              <ion-text color="danger" *ngIf="form.get('fecha')?.invalid && form.get('fecha')?.touched">
                <small *ngIf="form.get('fecha')?.hasError('required')"><b>Fecha obligatoria</b></small>
                <small *ngIf="form.get('fecha')?.hasError('fechaAnterior')" (input)="inputFecha()"><b>Fecha invalida</b></small>
              </ion-text>
            </form>

            <ion-text color="success" *ngIf="successMessage">
              <p>{{ successMessage }}</p>
            </ion-text>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <!--FOTO-->
        <ion-card *ngIf="photo">
          <ion-img [src]="photo" alt="Foto capturada"/>
        </ion-card>
      
        <ion-card *ngIf="location">
          <ion-card-header>
            <ion-card-title>Tomar fotografía y obtener ubicación</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Latitud:{{location.latitude}} </p>
            <p>Longitud: {{location.longitude}}</p>
            <p>Dirección: {{address}}</p>
          </ion-card-content>
        </ion-card>

        <!-- Botón para capturar foto y obtener ubicación -->
        <ion-button expand="block" (click)="capturePhoto()" color="secondary">Tomar fotografía</ion-button>
          
        <ion-button (click)="guardar()" expand="block" color="secondary">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
