<ion-content [fullscreen]="true">

  <ion-card-header class="ion-text-center">
    <ion-card-title><h2>Agregar tienda</h2></ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <ion-icon name="storefront" size="large"></ion-icon>
  </ion-card-content>

  <ion-card>

    <form (ngSubmit)="agregarTienda()">
      <ion-input [(ngModel)]="newTienda.name" name="name" label="Nombre de tienda" label-placement="floating" fill="solid" placeholder="Nombre de tienda"></ion-input>
      <ion-input [(ngModel)]="newTienda.address" name="address" label="Dirección" label-placement="floating" fill="solid" placeholder="Dirección de la tienda"></ion-input>
      <ion-input [(ngModel)]="newTienda.email" name="email" label="Correo" label-placement="floating" fill="solid" type="email" placeholder="Correo electrónico"></ion-input>
    </form>
    

     <!--FOTO-->
     <ion-card *ngIf="photo">
      <ion-img [src]=""></ion-img>
    </ion-card>
  
    <ion-card *ngIf="location">
      <ion-card-header>
        <ion-card-title>Tomar fotografía y obtener ubicación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Latitud:{{location.latitude}} </p>
        <p>Longitud: {{location.longitude}}</p>
        <p>Dirección: {{address}}</p>
      </ion-card-content>
    </ion-card>
  
    <!-- Botón para capturar foto y obtener ubicación -->
    <ion-button expand="block" (click)="capturePhoto()">Tomar fotografía</ion-button><br/>


    <ion-button (click)="agregarTienda()" expand="block">Guardar</ion-button>
  </ion-card>

</ion-content>
