<ion-content [fullscreen]="true">

  <ion-card-header class="ion-text-center">
    <ion-card-title><h2>Agregar despachos</h2></ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <ion-icon name="cube" size="large"></ion-icon>
  </ion-card-content>

  <!--FORMULARIO-->
  <!--ngModel conecta html con variables en typescript-->
  <ion-card>
    <ion-input [(ngModel)]="nombre" label="Nombre" label-placement="floating" fill="solid" placeholder="Nombre"></ion-input>
    <ion-input [(ngModel)]="fandeck" label="Fandeck" label-placement="floating" fill="solid" type="number" placeholder="Cantidad de fandecks"></ion-input>
    <ion-input [(ngModel)]="minifandeck" label="Minifandeck" label-placement="floating" fill="solid" type="number" placeholder="Cantidad de minifandecks"></ion-input>
    <ion-input [(ngModel)]="rolloSticker" label="Rollo Sticker" label-placement="floating" fill="solid" type="number" placeholder="Cantidad de rollos"></ion-input>
    <ion-input [(ngModel)]="cajaDeCintas" label="Caja de Cintas" label-placement="floating" fill="solid" type="number" placeholder="Cantidad de cajas"></ion-input>
    <ion-input [(ngModel)]="fecha" label="Fecha actual" label-placement="floating" fill="solid" type="date"></ion-input>
<br>

   <!--FOTO-->
   <ion-card *ngIf="photo">
    <ion-img [src]="photo" alt="Foto capturada"/>
  </ion-card>

  <ion-card *ngIf="location">
    <ion-card-header>
      <ion-card-title>Tomar fotografía y obtener ubicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Latitud:{{location.latitude}} </p>
      <p>Longitud: {{location.longitude}}</p>
      <p>Dirección: {{address}}</p>
    </ion-card-content>
  </ion-card>

  <!-- Botón para capturar foto y obtener ubicación -->
  <ion-button expand="block" (click)="capturePhoto()">Tomar fotografía</ion-button><br />
    
    <ion-button (click)="guardar()" expand="block">Guardar</ion-button>
  </ion-card>
  
</ion-content>
