<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12">
      
      <!--Card envolviendo formulario-->
      <ion-card class="ion-margin-top transparent-card " >
        <img alt="Logo Kolor" src="assets/imgs/logonuevo.png">

        <ion-card-header class="ion-text-center ">
            <ion-card-title><b>Bienvenido a Kolör despachos</b></ion-card-title>
            <ion-card-subtitle>Ingresa tus credenciales para revisar tus despachos</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <!--Formulario-->
          <form [formGroup]="form">
            <!--Inputs-->
            <!--Correo-->
            <ion-input formControlName="email" label="Correo" label-placement="floating" type="text" fill="outline"  placeholder="Correo"></ion-input>
            <ion-text color="danger" *ngIf="form.get('email')?.invalid && form.get('email')?.touched"> <!--Si email es invalido o el campo fue tocado-->
              <small *ngIf="form.get('email')?.hasError('required')">Correo obligatorio</small>
              <small *ngIf="form.get('email')?.hasError('email')">Formato invalido</small>
            </ion-text>
            <br>
            <br>
            <!--Contraseña-->
            <ion-input formControlName= "password" label="Contraseña" label-placement="floating" type="password" fill="outline"  placeholder="Contraseña">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
            <ion-text color="danger" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
              <small *ngIf="form.get('password')?.hasError('required')">Contraseña obligatoria</small>
              <small *ngIf="form.get('password')?.hasError('minlength')">Contraseña debe tener al menos 8 carácteres</small>
            </ion-text>
            <br>
            <br>
            <!--Botones-->
            <ion-button (click)="validar()" color="dark" expand="block" fill="solid" >
              Iniciar Sesión
            </ion-button>
            
            <ion-button  (click)="goToRegister()" color="dark" expand="block" fill="solid" >
              Registrarme
            </ion-button>
            <br>

            <!--Recuperación contraseña-->
            <div class="ion-text-center">
              <a href=""><small >¿Olvidaste tu contraseña?</small></a>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>


