
<ion-content [fullscreen]="true">
  
  <div class="ion-text-center">
    <h2><b>Dashboard Kolör</b></h2>
  </div>
  <div class="ion-text-center" >
    <ion-icon name="tv" size="large" ></ion-icon>
  </div>

  <ion-grid>
            <!--CARD DESPACHO-->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-md="6">
        <ion-card class="ion-text-center">
          <div>
            <ion-card-title><h3><b>Despachos</b></h3></ion-card-title>
          </div>
          <!--CONTENIDO-->
          <ion-card-content>
            <ion-icon name="cube" size="large"></ion-icon>
            <!--BOTONES-->

            <ion-list class="transparent">
              <ion-button (click)="AgregarDespacho()" fill="solid" size="small" color="dark" >Agregar</ion-button>
              <ion-button (click)="ListaDespacho()" fill="solid" size="small" color="dark">Ver lista</ion-button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--CARD TIENDA-->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-md="6">
        <ion-card class="ion-text-center">
          <div>
            <ion-card-title><h3><b>Tiendas</b></h3></ion-card-title>
          </div>
          <ion-card-content>
            <ion-icon name="storefront" size="large"></ion-icon>
            <ion-list>
              <ion-button (click)="AgregarTienda()" fill="solid" size="small" color="dark">Agregar</ion-button>
              <ion-button (click)="ListaTienda()" fill="solid" size="small" color="dark">Ver lista</ion-button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!--CARD JEFE-->
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" size-md="6">
        <ion-card class="ion-text-center">
          <div>
            <ion-card-title><h3><b>Jefe zonal</b></h3></ion-card-title>
          </div>
          <ion-card-content>
            <ion-icon name="man" size="large"></ion-icon>
            <ion-list>
              <ion-button (click)="AgregarJefe()" fill="solid" size="small" color="dark">Agregar</ion-button>
              <ion-button (click)="ListaJefe()" fill="solid" size="small" color="dark">Ver lista</ion-button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

